<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>CLEAN ENERGY</title>
      <link rel="stylesheet" href="/css/cadastro_empresa.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>

      <header class="header">
        <section class="header-top">
          <h1 class="logo">
            <img class ="logo"src="../imagem/logo.png">
        </section>

        <nav role="navigation">
            <section id="menuToggle">
                <input type="checkbox" id="menu-checkbox" />
            <label for="menu-checkbox">
                <span></span>
                <span></span>
                <span></span>
            </label>

        <ul id="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/">Fácil acesso</a></li>
            <li><a href="/relatorios">Relatórios de sustentabilidade</a></li>
            <li><a href="/cadastro_empresa">Cadastro de energia Biomassa</a></li>
            <li><a href="/sobre_nos">Sobre nós</a></li>
        </ul>
        </section>
        </nav>
>
      </header>

  <main>
    <section>
      <h1>Cadastro de Projeto de Biomassa</h1>
      <form action="/cadastrar" method="post">
        
        <fieldset>
          <legend>Informações da Empresa</legend>
          
          <label for="empresa">Nome da empresa</label>
          <input type="text" id="empresa" name="empresa" placeholder="Digite o nome da sua empresa:" required>

          <label for="cnpj">CNPJ/CPF</label>
          <input type="text" id="cnpj" name="cnpj" placeholder="Digite seu CNPJ ou CPF" required>
        </fieldset>

        <fieldset>
          <legend>Dados do Projeto</legend>

          <label for="biomassa">Tipo de biomassa</label>
          <input type="text" id="biomassa" name="biomassa" placeholder="Esterco, restos vegetais, resíduos orgânicos">

          <label for="sistema">Tipo de sistema</label>
          <input type="text" id="sistema" name="sistema" placeholder="Biodigestor caseiro, usina comunitária, empresas, etc">

          <label for="eficiencia">Eficiência do equipamento</label>
          <input type="text" id="eficiencia" name="eficiencia" placeholder="(%)">

          <label for="horas">Horas de operação por dia</label>
          <input type="text" id="horas" name="horas" placeholder="horas gerando energia:">

          <label for="frequencia">Frequência de alimentação</label>
          <input type="text" id="frequencia" name="frequencia" placeholder="ex: diária, semanal">

          <label for="quantidade">Quantidade de biomassa</label>
          <input type="text" id="quantidade" name="quantidade" placeholder="Ex: 1.8 tonelada">

          <label for="potencia">Potência</label>
          <input type="text" id="potencia" name="potencia" placeholder="Energia gerada (em kWh)">

          <label for="emissoes">Emissões evitadas</label>
          <input type="text" id="emissoes" name="emissoes" placeholder="ex: CO2">

          <label for="data">Data da instalação</label>
          <input type="text" id="data" name="data" placeholder="dd/mm/aaaa">

          <label for="custo">Custo total da instalação</label>
          <input type="text" id="custo" name="custo" placeholder="R$">

          <label for="operacional">Custo operacional mensal</label>
          <input type="text" id="operacional" name="operacional" placeholder="R$">

          <label for="economia">Economia mensal estimada</label>
          <input type="text" id="economia" name="economia" placeholder="R$">
        </fieldset>

        <footer>
          <button type="submit">Cadastrar meu projeto</button>
          <p><small>faça login para cadastrar seu projeto</small></p>
        </footer>

      </form>
    </section>
  </main>
<%- include('../partial/footer.ejs') %>
</body>
</html>