<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLEAN ENERGY</title>
  <link rel="stylesheet" href="/css/como_funciona.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

  <header class="header">
    
    <section class="header-top">
      <h1 class="logo">
        <img src="../imagem/logo.png">
        
      </h1>
    </section>

    <nav role="navigation">
  <section id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/">Fácil acesso</a></li>
          <li><a href="/relatorios">Relatórios de sustentabilidade</a></li>
          <li><a href="/cadastro_empresa">Cadastro de energia Biomassa</a></li>
          <li><a href="/sobre_nos">Sobre nós</a></li>
</ul>

  </section>
</nav>


  </header>
  <main>
  <h1>Como funciona o cadastro?</h1>

  <section class="etapa">
    <span class="numero">1</span>
    <p><strong>Preencha os dados da empresa</strong> Informe o nome da empresa, CNPJ ou CPF, e o objetivo do projeto com biomassa.</p>
  </section>

  <section class="etapa">
    <span class="numero">2</span>
    <p><strong>Adicione os dados para contato</strong> Insira o nome do responsável, telefone e email para que possamos manter o contato.</p>
  </section>

  <section class="etapa">
    <span class="numero">3</span>
    <p><strong>Descreva seu projeto de biomassa</strong> Escolha o tipo de biomassa (esterco, restos vegetais, etc.) e o sistema utilizado (biodigestor caseiro, usina, etc.).</p>
  </section>

  <section class="etapa">
    <span class="numero">4</span>
    <p><strong>Informe os dados técnicos</strong> Preencha a data de instalação, a energia gerada (em kWh) e a quantidade de emissões de CO₂ evitadas.</p>
  </section>

  <section class="etapa">
    <span class="numero">5</span>
    <p><strong>Finalize o cadastro</strong> Clique em “Cadastrar meu projeto” e pronto! Você será redirecionado para outra página para conferir o quanto você tem contribuído.</p>
  </section>

  <article class="importancia">
    <h2>Qual a importância de realizar o cadastro?</h2>
    <p>
      Ao preencher o formulário de cadastro com as informações do seu sistema biomassa, você contribui com nosso fornecimento de informações para ajudar você e sua empresa a crescer no mundo da biomassa. Em nosso mapa interativo você consegue ver se a biomassa atua em sua região.
    </p>
    <nav>
      <a class="btn-mapa" href="#">Ir para o Mapa Interativo</a>
    </nav>
  </article>
</main>
<%- include('../partial/footer.ejs') %>

</body>


</html>
