<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>CLEAN ENERGY</title>
      <link rel="stylesheet" href="/css/facilacesso.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>

      <header class="header">
        <section class="header-top">
          <h1 class="logo">
            <img class ="logo"src="../imagem/logo.png">
        </section>

        <nav role="navigation">
          <section id="menuToggle">
            <input type="checkbox" id="menu-checkbox" />
            <span></span>
            <span></span>
            <span></span>

        <ul id="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/">Fácil acesso</a></li>
          <li><a href="/relatorios">Relatórios de sustentabilidade</a></li>
          <li><a href="/cadastro_empresa">Cadastro de energia Biomassa</a></li>
          <li><a href="/sobre_nos">Sobre nós</a></li>
        </ul>
        </section>
      </nav>
      </header>

      <main class="access-container">
        <section class="access-content">
          

      <p class="access-text">
        Bem-vindo ao Clean Energy, explore o<br>
        mundo da energia limpa com foco em<br>
        biomassa.
      </p>

      <ul class="access-menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/">Fácil acesso</a></li>
        <li><a href="/como_funciona">Como funciona</a></li>
        <li><a href="relatorios">Relatórios de sustentabilidade</a></li>
        <li><a href="/cadastro_empresa">Cadastro de energia Biomassa</a></li>
        <li><a href="/sobre_nos">Sobre nós</a></li>
      </ul>
    </section>
    </main>
<%- include('../partial/footer.ejs') %>
    </body>
</html>
