<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | CLEAN ENERGY</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <style>
    
  </style>
</head>
<body>
  <header class="header">
    <section class="header-top">
      <img class ="logo"src="../imagem/logo.png">
  
    </section>

    <nav role="navigation">
      <div id="menuToggle">
        <input type="checkbox" id="menu-checkbox" />
        <label for="menu-checkbox">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <ul id="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/">Fácil acesso</a></li>
          <li><a href="/relatorios">Relatórios de sustentabilidade</a></li>
          <li><a href="/cadastro_empresa">Cadastro de energia Biomassa</a></li>
          <li><a href="/sobre_nos">Sobre nós</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
  <section class="home-section">
    <figure>
      <img src="../imagem/Biomassas.png" alt="Energia limpa conectada">
    </figure>
    <article>
      <h3>SOBRE NÓS</h3>
      <h2>Por que escolher a Clean Energy?</h2>
      <p><strong>Energia que poupa o planeta:</strong> Nossas soluções com biomassa transformam resíduos em energia limpa, reduzindo a emissão de carbono e promovendo a sustentabilidade.</p>
      <p><strong>Eficiência imbatível:</strong> Aplicamos tecnologia de ponta para entregar máxima eficiência energética, com transparência e respeito em cada parceria.</p>
    </article>
  </section>

  <section class="home-section">
    <figure>
      <img src="../imagem/empresarial.png" alt="Eficiência energética">
    </figure>
    <article>
      <h3>OBJETIVOS E COMPROMISSOS</h3>
      <h2>Marketing empresarial:</h2>
      <p>Nosso site será de extremo valor para empresas e usuários que desejam se tornar ou ter uma melhor comunicação com ONGs ou entender melhor como a energia biomassa poderá ser utilizada e seus retornos em dados e informações, isso permitirá que a ODS de número 7 se torne um passo mais próximo de ser realizado no futuro próximo das corporações.</p>
    </article>
  </section>

  <section class="home-section">
    <figure>
      <img src="../imagem/engy.png" alt="Eficiência energética">
    </figure>
    <article>
      <h3>ECONOMIA E RESULTADOS</h3>
      <h2>Economize e ganhe com energia limpa</h2>
      <p><strong>Redução de custos:</strong> Com a utilização inteligente da biomassa, sua empresa pode economizar significativamente em energia elétrica ao mesmo tempo que colabora com o meio ambiente.</p>
      <p><strong>Ganhos sustentáveis:</strong> A energia renovável agrega valor à marca, atrai consumidores conscientes e posiciona seu negócio como agente de transformação verde.</p>
    </article>
  </section>
</main>

  <%- include('../partial/footer.ejs') %>
</body>
</html>