<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLEAN ENERGY</title>
  <link rel="stylesheet" href="/css/sobre_nos.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

  <header class="header">
    
    <section class="header-top">
      <img class ="logo"src="../imagem/logo.png">
    </section>

    <nav role="navigation">
      <section id="menuToggle">
        <input type="checkbox" id="menu-checkbox" />
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/">Fácil acesso</a></li>
          <li><a href="/relatorios">Relatórios de sustentabilidade</a></li>
          <li><a href="/cadastro_empresa">Cadastro de energia Biomassa</a></li>
          <li><a href="/sobre_nos">Sobre nós</a></li>
        </ul>
      </section>
    </nav>


  </header>
  <main>
    

   <article>
    <h3>Qual o nosso objetivo?</h3>
    <p>
Proporcionar uma melhor clareza entre a biomassa e sua empresa, através de calculos que expomos de acordo com as infomações recebidas na página de ¨monitoramento de empresa¨. Garantimos que todas as interações sejam seguras, com total transparência em cada etapa do processo. Acreditamos em facilitar o seu envolvimento com causas importantes, mantendo a confiança e o respeito a cada parceiro. Com nossa plataforma, você tem o controle, a clareza e a confiança para fazer a diferença!</p>
<img src="../imagem/logo.png">
    <h3>Por quê essa ideia?</h3>
    <p>
      Porque a energia é algo que todos precisam, é algo essencial na sociedade moderna e encontrar uma maneira de democratizar e popularizar meios de energias mais baratos e limpos.
</p>
<p>
A biomassa é uma fonte de energia limpa que utiliza resíduos orgânicos, como restos agrícolas e florestais, para gerar eletricidade e calor. Além de reduzir o desperdício e as emissões de carbono, ela pode ser uma solução acessível para comunidades rurais, promovendo inclusão energética e desenvolvimento local.
    </p>

   </article>

   <article>
    <h3>Local de fundação:</h3>
    <p>Nosso projeto surgiu na FIEB ITB Brasílio Flores de Azevedo, com o objetivo de promover a energia renovável. Criamos um site para compartilhar informações, inovações e incentivar a sustentabilidade, conectando pessoas e empresas interessadas.</p>
    <img src="../imagem/fieb.png">
    <p>ITB Brasílio Flores de Azevedo Avenida Grupo Bandeirantes, 138 - Jardim Belval Barueri/SP</p>
   </article>
  </main>
  <%- include('../partial/footer.ejs') %>
</body>
</html>
