* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
     font-family: Arial, sans-serif;
     }
 
.header {
  position: fixed;
  top: 0;
   left: 0;
  width: 100%;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #488D6A;
  gap: 15px;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
   left: 0;
  width: 100%;
   height: 100%;
  background: rgba(72,141,106,0.8);
  backdrop-filter: none;
  z-index: -1;
}
.header::after {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 100%; height: 100%;
  background: linear-gradient(90deg,transparent,transparent,transparent);
  transition: .5s;
}
.header:hover::after { left: 100%; }
 
.logo {
  display: flex;
  align-items: center;  /* centraliza a imagem verticalmente */
}

.logo img {
  height: 55px;  /* aumenta a logo */
  width: auto;
}
 
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 550;
  margin-left: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
#check { display: none; }
 
.icons {
  position: absolute;
  right: 4%;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
 
.login-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: 1rem;
  padding-left: 1rem;
  font-weight: 500;
  color: #fff;
}
.login-container a {
  color: #fff;
  text-decoration: none;
}
.login-container a:hover {
     color: #fff;
     }
 
.login  {
     height: 38px;
      width: 38px;
     }
.carrinho {
    height: 28px;
    width: 28px;
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(180deg);
}
#menu-icon {
    display: block;
}
 
#close-icon {
    display: none;
}
 
#check:checked ~ .icons #menu-icon {
    display: none;
}
 
#check:checked ~ .icons #close-icon {
    display: block;
}
 

@media (max-width: 1200px) {
    .header {
        padding: 0.8rem 4%;
    }
}
 
@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }
 
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: none;
       
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s ease;
        gap: 0.8rem;
        background-color: #488D6A;
        
    }
 
    .navbar a {
        order: 3;
        display: block;
        font-size: 0.9rem;
        text-align: center;
        transform: translateY(-30px);
        opacity: 0;
        transition: .3s ease;
        margin: 0;
    }
 
    #check:checked ~ .navbar {
        height: 12rem;
    }
 
    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.1s * var(--i));
    }
 
    .login-links {
        display: none;
    }
 
    .login-container {
        order: 2;
        display: flex;
        padding: 0;
        margin-left: auto;  
        padding-right: 1rem;
        transform: translate(-20px);
    }
 
   
 
    .login-container span {
        display: inline-block;
        gap: 1px;
    }
}
 
