<link rel="stylesheet" href="/css/footer.css">
<footer>
    <section id="footer_content">
        <section id="footer_contacts">
            <h1>LOGO</h1>
            <p>Clean Energy com foco em Biomassa</p>
            <section id="footer_social_media">
                <a href="#" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="footer-link" id="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="footer-link" id="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                </a>
            </section>
        </section>
 
        <ul class="footer-list">
            <li>
                <h3>Páginas</h3>
            </li>
            <li>
                <a href="#" class="footer-link">Página 1</a>
            </li>
            <li>
                <a href="#" class="footer-link">Página 2</a>
            </li>
            <li>
                <a href="#" class="footer-link">Página 3</a>
            </li>
        </ul>
 
        <ul class="footer-list">
            <li>
                <h3>Páginas</h3>
            </li>
            <li>
                <a href="#" class="footer-link">Página 1</a>
            </li>
            <li>
                <a href="#" class="footer-link">Página 2</a>
            </li>
            <li>
                <a href="#" class="footer-link">Página 3</a>
            </li>
        </ul>
 
        <section id="footer_subscribe">
            <h3>Inscreva-se</h3>
 
            <p>
                Entre com seu email e receba notificações
                de avisos importantes!
            </p>
 
            <section id="input_group">
                <input type="email" id="email">
                <button>
                    <i class="fa-regular fa-envelope"></i>
                </button>
            </section>
        </section>
    </section>
    </section>
    <section id="footer_copyright">
        &#169
        2025 todos direitos reservados
    </section>
    </footer>

