<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<footer>
    <section id="footer_content">
        <section id="footer_contacts">
            <img src="/imagem/logo-curva.svg" alt="Logo Biomassa Hub" class="footer-logo">
            <p>Clean Energy com foco em Biomassa</p>
            <br>
            <section id="footer_social_media">
                <a href="#" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <br>
                <a href="#" class="footer-link" id="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <br>
                <a href="#" class="footer-link" id="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
         
            </section>
        </section>
 
        <ul class="footer-list">
            <li>
                <h3>Páginas</h3>
            </li>
            <li>

                <a href="/" class="footer-link">produtos</a>
            </li>

            <li>
                <a href="/adicione_produto" class="footer-link">Anunciar produto</a>
            </li>
            <li>
                <a href="/listaprodutos" class="footer-link">Seus produtos</a>
            </li>
        </ul>
 
        <ul class="footer-list">
            <li>
                <h3>Páginas</h3>
            </li>
            <li>
                <a href="/duvidas" class="footer-link">Dúvidas</a>
            </li>
            <li>
                <a href="/sobre_nos" class="footer-link">Sobre nós</a>
            </li>
            <li>
                <a href="/minhascompras" class="footer-link">Compras</a>
            </li>
        </ul>

        </section>
    </section>
    </section>
    <section id="footer_copyright">
        &#169
        2025 todos direitos reservados
    </section>
</footer>
