<link rel="stylesheet" href="/css/header1.css">
<header class="header">
  <a href="/produtoscomconta" class="logo">
    <img src="/imagem/logo.png" alt="Logo do site">
  </a>
 
    <input type="checkbox" id="check">
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>
 
 
 
 
    <nav class="navbar">
      <a href="/produtoscomconta" style="--i:0;">PRODUTOS</a>
      <a href="/sobre_nos" style="--i:1;">SOBRE NÓS</a>
      <a href="/adicione_produto" style="--i:3;">TORNE-SE VENDEDOR</a>
      <a href="/transporte" style="--i:4;">TRANSPORTE</a>
    </nav>
 
    <section class="login-container">
      <a href="/carrinho">
        <img class="carrinho" src="/imagem/carrinho.png" alt="Carrinho">
      
      <a href="/perfil">
        <img class="login" src="/imagem/avatar.png" alt="Login">
      </a>
    </section>
  </header>
 