<link rel="stylesheet" href="/css/header1.css">
<header class="header">
    <a href="/produtoscomconta" class="logo">logo</a>
 
    <input type="checkbox" id="check">
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>
 
 
 
 
    <nav class="navbar">
      <a href="/produtoscomconta" style="--i:0;">Produtos</a>
      <a href="/sobre_nos" style="--i:1;">Sobre nós</a>
      <a href="#" style="--i:2;">Contato</a>
      <a href="/adicione_produto" style="--i:3;">Torne-se vendedor</a>
      <a href="#" style="--i:4;">Como funciona</a>
    </nav>
 
    <section class="login-container">
      <a href="#">
        <img class="carrinho" src="/imagem/carrinho.png" alt="Carrinho">
      <span><a href="/perfil">Usuário</a></span>
      <a href="/perfil">
        <img class="login" src="/imagem/avatar.png" alt="Login">
      </a>
    </section>
  </header>
 