<link rel="stylesheet" href="/css/sidebar.css">
<aside class="sidebar">
  <section class="user-info">
    <img src="/imagem/avatar.png" alt="Foto do usuário" class="avatar">
    <p class="username">Usuário</p>
    <a href="#" class="edit-profile">Editar Perfil</a>
  </section>
  <nav class="sidebar-nav">
    <ul>
      <li><a href="#">Minha Conta</a></li>
      <li><a href="/listaprodutos">Meus Produtos</a></li>
      <li><a href="/minhascompras">Minhas compras</a></li>
    </ul>
  </nav>
</aside>
