<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Perfil</title>
  <link rel="stylesheet" href="/css/meus_produtos.css">
</head>
<body>
     <%- include('../partial/header1.ejs') %>
<main>
  <aside class="sidebar">
    <section class="user-info">
      <img src="/imagem/avatar.png" alt="Foto do usuário" class="avatar">
      <p class="username">Usuário</p>
      <a href="#" class="edit-profile">Editar Perfil</a>
    </section>
    <nav class="sidebar-nav">
      <ul>
        <li><a href="#">Minha Conta</a></li>
        <li><a href="#">Meus Produtos</a></li>
      </ul>
    </nav>
  </aside>

  <section class="content">

    <nav class="top-nav">
      <ul>
        <li><a href="#" class="active">Tudo</a></li>
        <li><a href="#">Finalizado</a></li>
        <li><a href="#">Cancelado</a></li>
      </ul>
    </nav>

    <article class="orders">
      <img src="/imagem/caderno.png" alt="Nenhum pedido" class="orders-img">
      <p>Ainda não há pedidos</p>
    </article>
  </section>
</main>
</body>
</html>