<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Perfil</title>

  <link rel="stylesheet" href="/css/perfil.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
  <%- include('../partial/header.ejs') %>

    <main>
      <%- include('../partial/sidebar.ejs') %>

        <section class="content">

          <!-- botão voltar -->
          <button class="back-button" onclick="history.back()">
            <i class='bx bx-arrow-back'></i>
            <span>Voltar</span>
          </button>

          <section class="perfil-form">
            <h2>Meu Perfil</h2>

            <section class="perfil-foto">
              <img id="fotoPerfil" src="/imagem/avatar.png" alt="Foto do usuário">
            </section>
            <br>

            <!-- VISUALIZAÇÃO -->
            <section id="perfilVisualizacao">
              <p><strong>Nome/Empresa:</strong> <span id="nomeDisplay">Usuário</span></p>
              <p><strong>Email:</strong> <span id="emailDisplay">usuario@gmail.com</span></p>
              <p><strong>Telefone:</strong> <span id="telefoneDisplay">*********19</span></p>
              <p><strong>CPF/CNPJ:</strong> <span id="cpfDisplay">***.***.*18-70</span></p>

              <button id="btnEditar" class="btn-editar" type="button">
                Editar perfil
              </button>
            </section>

            <!-- EDIÇÃO -->
            <form id="formEdicao" class="hidden">
              <label>Nome/Empresa</label>
              <input type="text" id="nomeInput">

              <label>Email</label>
              <input type="email" id="emailInput">

              <label>Telefone</label>
              <input type="tel" id="telefoneInput">

              <label>CPF/CNPJ</label>
              <input type="text" id="cpfInput">

              <button type="submit">Salvar</button>
              <button type="button" id="btnCancelar">Cancelar</button>
            </form>

          </section>
        </section>
    </main>

    <%- include('../partial/footer.ejs') %>
      <script src="/js/perfil.js"></script>
</body>

</html>