<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Perfil</title>
  <link rel="stylesheet" href="/css/perfil.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
  <%- include('../partial/header1.ejs') %>

  <main>
    <!-- Sidebar -->
    <%- include('../partial/sidebar.ejs') %>


    <section class="content">
      <nav class="back-navigation" aria-label="Navegação de retorno">
    <button class="back-button" onclick="history.back()" aria-label="Voltar à página anterior">
      <i class='bx bx-arrow-back'></i>
      <span>Voltar</span>
    </button>
  </nav>
             
      <section class="perfil-form">
        <h2>Meu Perfil</h2><br>
        
        <form>
          <label for="nome-usuario">Nome de usuário</label>
          <output id="nome-usuario">Usuário</output>

          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" value="Usuário">

          <label for="email">Email</label>
          <input type="email" id="email" value="usu********@gmail.com">

          <label for="telefone">Número de telefone</label>
          <input type="tel" id="telefone" value="*********19">

          <fieldset>
            <legend>Sexo</legend>
            <label><input type="radio" name="sexo" checked> Masculino</label>
            <label><input type="radio" name="sexo"> Feminino</label>
            <label><input type="radio" name="sexo"> Outros</label>
          </fieldset>

          <label for="cpf">CPF/CNPJ</label>
          <output id="cpf">***.***.*18-70 / **.***.***/0001-42</output>

          <button type="submit">Salvar</button>
        </form>
      </section>

    </section>
  </main>

  <script src="/js/script.js"></script>
  <%- include('../partial/footer.ejs') %>
</body>
</html>
