<link rel="stylesheet" href="/css/footer.css">
<footer class="footer">
  <section class="footer-links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Fácil acesso</a></li>
      <li><a href="#">Cadastro Biomassa</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
    <ul>
      <li><a href="#">Como funciona</a></li>
      <li><a href="#">Tipos de Biomassa</a></li>
      <li><a href="#">Mapa interativo</a></li>
      <li><a href="#">Fale conosco</a></li>
    </ul>
  </section>

  <section class="social-icons">
    <span class="social-icon">IG</span>
    <span class="social-icon">IN</span>
    <span class="social-icon">X</span>
    <span class="social-icon">YT</span>
    <span class="social-icon">FB</span>
  </section>

  <hr>

  <section class="footer-logo">
    <span class="logo-icon-footer"></span>
    <img class ="logo"src="../imagem/logo.png">
  </section>
</footer>


